body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.combatant-container {
  display: flex;
  justify-content: space-around;
}

.title {
  font-weight: bold;
  font-size: large;
}








.stat {
  float: left;
}

.stat-title {
  width: 250px;
  height: 25px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px;
}

.stat-data {
  text-align: center;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
}

.median {
  float: left;
}

.median-title {
  width: 250px;
  height: 25px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px;
}

.median-data {
  width: 250px;
  height: 175px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  padding: 2px 2px;
}

.react-tabs {
  width: 100%;
}

.statistics-container {
  display: flex;
  width: 100%;
}



.attacker {
  padding: 5px;
}

.attack-container {
  display: grid;
  grid-template-columns: 65px 110px 110px 110px 110px 110px; 
}

.attack-title {
  height: 40;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px;
  align-self: center;
}

.attack-remove {
  grid-column: 1 / span 6;
  padding-bottom: 5px;
}

.attack-select {
  width: 154px;
}

.attack-input {
  width: 110px;
  height: 32px;
  font-size: large;
  text-align: center;
}

.defender {
  padding: 5px;
}

.defense-container {
  display: grid;
  grid-template-columns: 65px 110px 110px 110px 116px; 
}

.defense-title {
  height: 40;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  padding: 2px 2px;
}

.defense-input {
  width: 110px;
  height: 32px;
  font-size: large;
  text-align: center;
}

.defense-equiv {
  grid-column: 1 / span 5;
}

.defense-equiv-radio {
  border: 1px solid darkgray;
  background: lightslategray;
  float: left;
}

.options {
  height: 32px;
  width: 65px;
  text-align: center;
}

.attack-options-display {
  grid-column: 1 / span 6;
}

.defense-options-display {
  grid-column: 1 / span 5;
}

.options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.options-field {
  width: 65px;
  float: left;
}

.option-button {
  font-weight: bold;
  font-size: large;
}
